<div class="author">
    <h1 class="author__heading">Hi, I am Precious.</h1>
    <p class="author__body">Software engineer, dropping my thoughts here once in a while.</p>
  </div>


  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">

      <% posts.forEach(post => { %>
        <li>
            <a href="/article/<%= post.slug %>">
                <img src="https://api.dicebear.com/7.x/identicon/svg?seed=<%= post.slug %>&radius=50&size=48&backgroundColor=ffffff" 
                     alt="Article thumbnail"
                     class="post-thumbnail">
                <div class="post-content">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </div>
            </a>
        </li>
    <% }) %>

    </ul>
  
  
   <!-- <a href="#" class="pagination">&gt; View Next</a> -->



  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>

  
    
  
  
  
  </section>