<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= metaInfo.title %></title>
    <meta name="description" content=" <%= metaInfo.description %>"> 
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">

        <%- include('../partial/search') %>
        <%- include('../partial/head') %>


        <%- body  %>


    </div>



    
</body>
</html>